.hdrIcon {
    margin-left: 0px;
    margin-right: 10px;
}

div.container {
    width: 100%;
}

.form-group {
    width: 100%;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #0D47A1;
}

.navLinks {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.commentBody {
    font-size: 14px;
    font-weight: normal;
    color: black;
}

.commentMediaObject {
    margin-left: 20px;
}

.userHeading {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: black;
}